.idea
*.db

code/mitigated/login.php
code/mitigated/logout.php
code/mitigated/register.php
code/mitigated/templates.php
code/mitigated/*.css

code/vulnerable/login.php
code/vulnerable/logout.php
code/vulnerable/register.php
code/vulnerable/templates.php
code/vulnerable/*.css
