.idea
*.db

mitigated/.htaccess
mitigated/login.php
mitigated/logout.php
mitigated/register.php
mitigated/templates.php
mitigated/*.css

vulnerable/.htaccess
vulnerable/login.php
vulnerable/logout.php
vulnerable/register.php
vulnerable/templates.php
vulnerable/*.css
